<header class="w-full fixed top-0 left-0 z-20 shadow-md">
    <div class="py-3 bg-blue-800">
        <div class="xl:max-w-screen-2xl lg:max-w-screen-xl w-full mx-auto px-4">
            <div class="flex flex-wrap items-center -mx-4">
                <div class="xl:w-7/12 md:w-8/12 md:block hidden w-full px-4">
                    <ul>
                        <li class="inline-block xl:pe-4 pe-3 leading-4"><a href="#" class="lg:text-sm text-xs text-white inline-flex items-center"><img class="xl:w-5 w-4 xl:h-5 h-4 xl:me-3 me-2" src="images/hearder-icons/mail.svg" alt=""> support@tutorsuite.com</a></li>
                        <li class="inline-block xl:px-4 px-3 leading-4 border-x border-1"><a href="#" class="lg:text-sm text-xs text-white inline-flex items-center"><img class="xl:w-5 w-4 xl:h-5  h-4  xl:me-3 me-2" src="images/hearder-icons/call.svg" alt=""> +91 9123831238</a></li>
                        <li class="inline-block xl:ps-4 ps-3 leading-4"><a href="#" class="lg:text-sm text-white text-xs inline-flex items-center"><img class="xl:w-5 w-4 xl:h-5  h-4  xl:me-3 me-2" src="images/hearder-icons/whatsapp.svg" alt=""> +91 9123831238</a></li>
                    </ul>
                </div>
                <div class="xl:w-5/12 md:w-4/12 w-full px-4 text-end">
                    <ul class="flex items-center justify-end">
                        <li class="inline-block xl:px-4 px-3 me-2 leading-4 border-r border-1"><a href="#" class="text-sm text-white inline-flex items-center font-medium lg:text-base md:text-sm text-xs"> Login</a></li>
                        <li class="inline-block xl:px-2 px-1 leading-4"><a href="#" class="inline-block"><img class="xl:w-5 w-4 xl:h-5 h-4 xl:me-3 me-2" src="images/hearder-icons/twitter.svg" alt=""></a></li>
                        <li class="inline-block xl:px-2 px-1 leading-4"><a href="#" class="inline-block"><img class="xl:w-5 w-4 xl:h-5 h-4 xl:me-3 me-2" src="images/hearder-icons/facebook.svg" alt=""></a></li>
                        <li class="inline-block xl:px-2 px-1 leading-4"><a href="#" class="inline-block"><img class="xl:w-5 w-4 xl:h-5 h-4" src="images/hearder-icons/linkedin.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="xl:max-w-screen-2xl lg:max-w-screen-xl w-full mx-auto px-4">
            <div class="flex flex-wrap items-center -mx-4">
                <div class="xl:w-3/12 w-6/12 px-4">
                    <img class="md:h-24 sm:h-20 h-16" src="images/logo.png" alt="">
                </div>
                <div class="xl:w-9/12 xl:w-80 xl:px-4 xl:text-end mobile-menu">
                    <div class="mobile-nav">
                        <ul>
                            <li class="xl:inline-block px-4"><a href="index.html" class="text-base font-normal inline-flex items-center relative text-blue-600 xl:py-11 py-3 family-montserrat before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full  before:content-[''] before:bg-blue-700">Home</a></li>
                            <li class="xl:inline-block px-4"><a href="get-assistance.html" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11 py-3">Get Assistance</a></li>
                            <li class="xl:inline-block px-4 relative hav-dropdown"><a href="javascript:void(0)" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11  py-3">Services <img class="ms-1" src="images/arrow-down.svg" alt=""></a>
                                <div class="px-4 py-5 bg-white absolute shadow-xl dropdown-submenu rounded-xl top-24 text-left left-0">
                                    <ul>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Assignment</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Casestudy</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Development</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Homework</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Coursework</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Essay</a></li>
                                        <li class="pb-1"><a href="service.html" class="inline-block text-base family-montserrat text-slate-400">Dissertation/Thesis</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="xl:inline-block px-4"><a href="samples.html" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11 py-3">Samples</a></li>
                            <li class="xl:inline-block px-4"><a href="price.html" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11 py-3">Price</a></li>
                            <li class="xl:inline-block px-4"><a href="blog.html" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11 py-3">Blogs</a></li>
                            <li class="xl:inline-block px-4"><a href="faqs.html" class="text-base font-normal inline-flex items-center family-montserrat xl:py-11 py-3">FAQ’s</a></li>
                            <li class="xl:inline-block px-4"><a href="contact.html" class="text-base font-normal xl:text-white inline-flex items-center family-montserrat xl:bg-blue-800 xl:px-6 xl:rounded-full xl:py-4">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="xl:hidden w-6/12 px-4 text-right">
                    <button type="button" class="menu-toggle-button">
                        <img src="images/menu-icon.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="xl:pt-40 md:pt-36 sm:pt-28 pt-24"></div>