<section class="relative">
    <div class="w-full lg:mb-0 mb-6">
        <div class="flex flex-wrap items-center lg:justify-start justify-center">
            <div class="xl:w-5/12 lg:w-6/12">
                <div class="relative text-center" data-aos="zoom-in-right">
                    <img class="w-full lg:rounded-r-[40px] rounded-r-[0px]" src="images/video-img.png" alt="">
                    <a href="#" class="absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 inline-block md:p-6 sm:p-4 p-2 after:bg-blue-800 after:rounded-full after:opacity-20 after:top-0 after:left-0 after:w-full after:h-full after:content-[''] after:rounded-full after:z-3 before:absolute before:bg-blue-700  after:animate-ping before:animate-ping md:before:w-24 sm:before:w-20 before:w-16 md:before:h-24 sm:before:h-20 before:h-16  md:before:top-4 sm:before:top-3 before:top-2 md:before:left-4 md:before:left-3 before:left-2 before:rounded-full before:z-1 after:absolute"><span class="inline-flex relative md:w-20 w-16 md:h-20 h-16 z-10 rounded-full bg-white items-center justify-center"><img class="ms-1 md:w-6 w-5" src="images/play-icon.png" alt=""></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:absolute lg:top-2/4 lg:left-0 lg:-translate-y-2/4 w-full">
        <div class="xl:max-w-screen-2xl lg:max-w-screen-xl w-full mx-auto px-4">
            <div class="flex justify-end">
                <div class="xl:w-7/12 lg:w-6/12">
                    <div class="xl:pl-20 lg:pl-14">
                        <h4 class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold lg:mb-6 mb-4" data-aos="zoom-in">Why Choose Us</h4>
                        <p class="md:text-sm text-xs text-slate-400 xl:leading-8 lg:leading-6 mb-6"  data-aos="fade-up">Schools equal studies. Studies equal grades. Grade's equal future. Future equals practice. Practice equals homework/assignments. Homework/assignments equal to US! If you are hunting for that one unique group of academic advisors or academic assistants that can rightly balance between assistance and learning, you are at the right place! Welcome! We are an academic firm – a firm that is made out of a team of experts and highly qualified professionals. Each of these professionals has gained expertise in one or the other field. As a result, they are capable</p>
                        <div class="flex flex-wrap -mx-4">
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4" data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/1.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">On Time Delivery</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/2.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">Solution as per Requirement</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/3.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">Best Price Pomised</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/4.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">24*7 Support</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/5.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">Qualified & Experienced Expert</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/6.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">Plagiarism Report on Demand</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/7.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">Services for all Subjects</h4>
                                </div>
                            </div>
                            <div class="sm:w-6/12 w-full px-4">
                                <div class="xl:py-4 lg:py-3 py-2 xl:px-6 lg:px-5 px-4 rounded shadow-md flex bg-white items-center md:mb-6 mb-4"  data-aos="flip-up">
                                    <img class="xl:w-8 w-6 xl:h-8 h-6" src="images/why-us/8.png" alt="">
                                    <h4 class="xl:text-base md:text-sm text-xs ms-4 font-semibold">100% Money Back Guarantee</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>