<section class="lg:py-24 md:py-20 sm:py-16 py-14">
    <div class="xl:max-w-screen-2xl lg:max-w-screen-xl w-full mx-auto px-4">
        <div class="text-center lg:mb-12 md:mb-10 sm:mb-8 mb-6">
            <h3 class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold lg:mb-6 md:mb-4 mb-2" data-aos="zoom-in">Discover Our Popular Services</h3>
            <p class="md:text-sm text-xs text-slate-400 xl:leading-8 lg:leading-6 mb-6" data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis</p>
        </div>
        <div class="flex flex-wrap -mx-4">
            <div class="lg:w-4/12 w-full px-4">
                <div class="lg:p-6 md:p-5 p-4 bg-white shadow text-center rounded-xl md:mb-0 mb-5" data-aos="flip-up">
                    <img class="max-w-full mx-auto mb-4" src="images/popular-services/1.png" alt="">
                    <h4 class="md:text-xl text-base font-bold mb-4">Online Test</h4>
                    <p class="md:text-sm text-xs text-slate-400">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="lg:w-4/12 w-full px-4">
                <div class="p-6 bg-white shadow text-center rounded-xl md:mb-0 mb-5" data-aos="flip-up">
                    <img  class="max-w-full mx-auto mb-4" src="images/popular-services/2.png" alt="">
                    <h4 class="md:text-xl text-base font-bold mb-4">Assignment Help</h4>
                    <p class="md:text-sm text-xs text-slate-400">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="lg:w-4/12 w-full px-4">
                <div class="p-6 bg-white shadow text-center rounded-xl md:mb-0" data-aos="flip-up">
                    <img class="max-w-full mx-auto mb-4" src="images/popular-services/3.png" alt="">
                    <h4 class="md:text-xl text-base font-bold mb-4">Homework</h4>
                    <p class="md:text-sm text-xs text-slate-400">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </div>
</section>