body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.02em;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.family-montserrat{
    font-family: Montserrat;
}

.floating-label-field{
    position: relative;
}

.floating-label{
    position:absolute;
    pointer-events:none;
    left:11px;
    top:11px;
    padding:0 5px;
    background:#fff;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.get-assistance .floating-label{
    top:20px;
}

.floating-input:focus ~ .floating-label{
    top:-8px;
    font-size:13px;
}

.swiper-pagination .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active{
    background-color: #2D4998;
}

.text-gradient{
    background: linear-gradient(180deg, rgba(45, 73, 152, 0.36) 23.13%, rgba(165, 208, 242, 0.36) 79.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-submenu{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.hav-dropdown:hover .dropdown-submenu{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}


.dropdown-submenu a:hover{
    color: #2D4998;
}

ol {
    padding-left: 20px !important;
}

ol li{
    list-style: auto;
}

.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
  color: #FFBC10;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FFBC10;  
}

.rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #FFBC10;
}

@media(max-width:1280px){
    .mobile-menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0000004d;
        width: 0%;
        z-index: 99;
        height: 100vh;
        transition: all 0.3s ease-in-out;
    }
    .mobile-menu.active{
        width: 100%;
    }
    .mobile-nav{
        position: fixed;
        width: 320px;
        min-height: 100vh;
        left: -324px;
        box-shadow: 0px 3px 10px #00000029;
        background-color: #fff;
        padding: 20px 10px;
        transition: all 0.3s ease-in-out;
    }
    .mobile-menu.active .mobile-nav{
        left: 0;
    }
    .mobile-menu a{
        width: 100%;
    }
    .floating-label{
        font-size: 14px;
        left: 15px;
        top: 13px;
    }
}

@media(max-width:767px){
    .swiper-pagination .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    .floating-label{
        left: 10px;
        top: 10px;
    }
}

@media(max-width:580px){
    .floating-label {
        left: 10px;
        top: 9px;
    }
}