<section class="lg:py-24 md:py-20 sm:py-16 py-14 bg-cover bg-no-repeat bg-center bg-[url('images/subscription-bg.png')]">
    <div class="xl:max-w-screen-2xl lg:max-w-screen-xl mx-auto px-4 relative">
        <div class="text-center lg:mb-12 md:mb-10 sm:mb-8 mb-6">
            <h3 class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold text-white lg:mb-6 md:mb-4 mb-2" data-aos="zoom-in">Special Offers</h3>
            <p class="lg:text-sm text-xs xl:leading-8 lg:leading-6 mb-6 text-white" data-aos="fade-up">Sign Up To Access Our Special Offers</p>
        </div>
        <div class="flex justify-center">
            <div class="md:w-6/12 sm:w-8/12 w-full">
                <div class="relative rounded-xl overflow-hidden shadow lg:mb-12 md:mb-10 sm:mb-8 mb-6" data-aos="zoom-in">
                    <form action="">
                        <input type="text" class="w-full xl:h-16 lg:h-14 md:h-12 h-10 border-0 lg:text-base text-sm" placeholder="Enter your email address">
                        <button type="button" class="xl:h-16 lg:h-14 md:h-12 h-10 bg-blue-800 lg:px-8 md:px-6 px-5 text-bold text-white lg:text-base md:text-sm text-xs absolute top-0 right-0 rounded-e-xl">Sign Up</button>
                    </form>
                </div>
                <div class="text-center">
                    <a href="#" class="lg:py-4 md:py-3 py-2 inline-block lg:px-8 md:px-8 px-5 rounded-full bg-white lg:text-base sm:text-sm text-xs shadow" data-aos="flip-up">View All Offers</a>
                </div>
            </div>
        </div>
    </div>
</section>
