<section class="lg:py-24 md:py-20 sm:py-16 py-14">
    <div class="xl:max-w-screen-2xl lg:max-w-screen-xl w-full mx-auto px-4">
        <div class="text-center md:mb-10 ms:mb-8 mb-6">
            <h3 class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold" data-aos="fade-up">Services Categories</h3>
        </div>
        <div class="flex flex-wrap md:-mx-4 -mx-3">
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/1.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Assignment</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/2.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Casestudy</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/3.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Development</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/4.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Homework</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/5.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Coursework</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/6.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Essay</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/7.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Plagiarism Checker</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/8.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Research Paper</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/9.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Referencing</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/10.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Online Exam</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/11.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">Dissertation/Thesis</h4>
                </div>
            </div>
            <div class="lg:w-3/12 md:w-4/12 sm:w-6/12 w-full md:px-4 px-3">
                <div class="bg-indigo-50 flex items-center md:rounded-xl rounded-lg md:p-4 p-2 md:mb-4 mb-3" data-aos="flip-down">
                    <img class="lg:h-10 h-8 md:me-3 me-2" src="images/category-icon/12.png" alt="">
                    <h4 class="md:text-base text-sm font-medium">CDR</h4>
                </div>
            </div>
        </div>
        <div class="text-center lg:mt-8 sm:mt-6 mt-4">
            <a href="#" class="underline text-blue-600 lg:text-base sm:text-sm text-xs inline-block" data-aos="fade-up">See All Service</a>
        </div>
    </div>
</section>